div {
  width: 200px;
  height: 200px;
}

.satu {
  background-color: red;
}

.dua {
  background-color: yellow;
  position: relative;
  top: 50px;
  left: 30px;
}

.tiga {
  background-color: greenyellow;
}