* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
  background-image: url(img/bg.png);
}

.container {
  width: 960px;
  margin: auto;
  background-color: white;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}

.header a:hover {
  background-color: lightblue;
  color: white;
}

.hero {
  height: 480px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: 0 -110px;
  border-top: 5px solid salmon;
  border-bottom: 5px solid salmon;
}

.main {
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.main h2 {
  font-size: 28px;
  font-weight: bold;
}

.main .penulis {
  font-size: 12px;
  margin-top: -5px;
}

.main .penulis a {
  text-decoration: none;
  color: red;
}

.main p {
  margin-bottom: 15px;
  font-size: 15px;
}

/* sidebar */
.sidebar {
  width: 300px;
  float: right;
  padding: 20px;
}

.sidebar h3 {
  font-weight: bold;
  color: #666;
}

.sidebar img {
  width: 70px;
  height: 90px;
  float: left;
  padding-right: 10px;
}

.sidebar p {
  text-align: justify;
  font: 12px/18px arial;
}

.footer {
  background-color: #333;
  padding: 5px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}

.paragraf {
  text-align: justify;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
