div {
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  margin: 100% auto;
  padding: 50px;
  border-left: 5px dashed black;
  border-right: 5px solid black;
  border-top: 5px dotted black;
  border-bottom: 5px double black;
}