div {
  width: 200px;
  height: 200px;
  position: absolute;
}
.satu {
  background-color: red;
  z-index: 1;
}

.dua {
  background-color: yellow;
  top: 100px;
  left: 100px;
  z-index: 2;
  opacity: 0.5;
}

.tiga {
  background-color: greenyellow;
  top: 200px;
  left: 200px;
}
