div {
  width: 200px;
  height: 200px;
  margin: auto;
}
.satu {
  background-color: red;
}

.dua {
  background-color: blue;
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  right: 0;
}

.tiga {
  background-color: greenyellow;
}

.container {
  width: 600px;
  height: 650px;
  border: 10px solid green;
  position: relative;
}

body {
  height: 2000px;
}
